*
{
	margin:0;
	padding:0;
}

html,body{
	/*height:100vh;*/
	width:100%;
}

@font-face {
    font-family: 'Panton';
    src: url('../fonts/panton-lightcaps-webfont.eot');
    src: url('../fonts/panton-lightcaps-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/panton-lightcaps-webfont.woff2') format('woff2'),
         url('../fonts/panton-lightcaps-webfont.woff') format('woff'),
         url('../fonts/panton-lightcaps-webfont.ttf') format('truetype'),
         url('../fonts/panton-lightcaps-webfont.svg#pantonlight_caps') format('svg');
    font-weight: normal;
    font-style: normal;
}

body {
	font-family:Panton;
	text-align: center;
}

#flex-container{
	width: 100%;
	min-height: 100vh;
	text-align:center;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;

	-ms-flex-align: center;
	-webkit-align-items: center;
	-webkit-box-align: center;

  align-items: center;
  justify-content: center;
	-webkit-justify-content: center; /* Safari 6.1+ */
}

#title {
	font-size:3.5em;
	font-weight: lighter;
}

.subtitle {
	font-size:2em;
	font-weight: lighter;
}

#container {
	width: 400px;
	/*position:absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);*/
	padding-top: 10%;
	padding-bottom: 10%;
}

button, .btn{
	background:none;
	border: 3px solid #000;
	margin:10px;
}

.borderless>tbody>tr>td{
	border-top: none;
	border-bottom: 0px;
}

.roleSelectGroup button, .roleSelect .btn{
	margin:0px;
}

#roleSelect .leftAlign {
	text-align: left;
}

#roleSelect .rightAlign {
	text-align: right;
	padding-left: 0px;
	padding-right: 0px;
	min-width:132px;
}

button:disabled{
	color:#999;
	background:none;
	border: 3px solid #999;
	margin:10px;
}

.contentcontainer input[type = "text"]{
	font-size: 1.5em;
	height: 2.5em;
	width: 100%;
	background:none;
	border: 3px solid #000;
	margin-top: 20px;
	margin-bottom: 20px;
}

.contentcontainer form{
	display:inline;
}

.leadPlayer {
	float:right;
}

#leadinfo {
	width: 100%;
}

.selectable, .assassinSelectable {
	cursor: pointer;
	-webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: color, background-color;
  transition-property: color, background-color;
}
.selectable:hover,
.selectable:focus,
.selectable:active,
.assassinSelectable:hover,
.assassinSelectable:focus,
.assassinSelectable:active {
	background-color: #efefef;
}
.selected, .assassinSelected {
	background-color: #eee;
	font-weight: bold;
	-webkit-transition-property: color, background-color;
  transition-property: color, background-color;
}
.selected:hover,
.selected:focus,
.selected:active,
.assassinSelected:hover,
.assassinSelected:focus,
.assassinSelected:active{
	background-color: #eee;
}

.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th {
	border-color: #bbb;
}

.leadStuff{
	display:none;
}

#questTrack, #questTextContainer{
	/*display: -webkit-flex; /* Safari */
  -webkit-justify-content: space-around; /* Safari 6.1+ */
  /*display: flex;*/
  justify-content: space-around;
	width:100%;
	min-width: 400px;
	/*margin-top: -60px;*/
	height: 60px
}

#questTrack{
	margin-top: 15px;
}

#questTextContainer{
	margin-top: -60px;
}

#cardTrack{
	display: -webkit-flex; /* Safari */
  -webkit-justify-content: space-around; /* Safari 6.1+ */
  display: flex;
  justify-content: space-around;
	font-size: 2.5em;
	margin-top:-5px;
	margin-bottom: 10px;
}

#cardTrack span{
	border: 3px solid #000;
	border-radius: 10px;
	padding: 5px;
}

.questGlyph{
	font-size: 4em;
	width: 60px;
	height: 100%;
	opacity: 0.1;
}

.questText{
	font-size: 3em;
	opacity: 0.35;
}

.displayOnStart{
	display: none;
}

.currentQuest{
	opacity: 0.15;
}

.currentQuestText{
	opacity: 1;
}

.glyphicon-ok-sign, .glyphicon-remove-sign {
	opacity: 1;
}

.voteStuff, .missionStuff{
	display:none;
}

td{
	text-align: right;
}

td .playerName
{
	float: left;
}

td .glyphicon {
	margin-left: 5px;
	margin-top: 2px;
}

.status {
	width: 100%;
}

#twoFailsNote {
	margin-top: 15px;
}

#homebtn,
#homebtn:focus,
#homebtn:active,
#homebtn:hover {
	color: #000;
}

#connectedPlayers {
	 width:100%;
	 min-width: 400px;
	 margin-top: 30px;
}

#roleSelect {
	 width:100%;
	 min-width: 400px;
	 margin-top: 20px;
}

#roleSelect td {
	vertical-align: middle;
}

.roleSelected, .roleSelected:hover, .roleSelected:active, .roleSelected:focus {
	background-color: #ddd;
}

#percivalSelect, #morganaSelect, #mordredSelect{
	display:none;
}

.roleSelectGroup {
	float:right;
}

.disconnected {
	opacity: 0.3;
}

@media only screen and (max-width: 500px) {
    #container {
      width:85%;
    }
		.displayOnStart, #connectedPlayers, #roleSelect {
			min-width: 0;
		}
		#title {
			font-size: 3em;
		}
		.btn, .btn-lg{
			font-size: 1em;
		}
		.contentcontainer input[type = "text"]{
			font-size: 1.3em;
		}
		#questTrack, #questTextContainer, .table {
			min-width: 0;
		}
		#connectedPlayers tr, #connectedPlayers td {
			line-height: 2;
		}
		#connectedPlayers .glyphicon {
			margin-top: 7px;

		}
		.questGlyph{
			font-size: 3.6em;
			width: 45px;
			height: 100%;
		}

		.questText{
			font-size: 2.4em;
			margin-top: 3px;
			margin-left: 5px;
		}
}
